<header>
  <h3>LIBRARY APP</h3>

  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        ></a>
      </li>
      <li>
        <a routerLink="/category" routerLinkActive="active">CATEGORIES</a>
      </li>
      <li><a routerLink="/books" routerLinkActive="active">BOOKS</a></li>
      <li>
        <a routerLink="/favorites" routerLinkActive="active">FAVORITES</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
